.cd-words-wrapper {
  /*display: inline-block;*/
  position: relative;
  text-align: left;
  font-size: 5vw;
  font-family: 'Montserrat';
}

.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}

.blc {
  font-size: 5vw;
}

.cd-words-wrapper b.is-visible {
  position: relative;
}

@media (max-width: 768px) {
  .cd-headline.clip span {
    display: inline-block;
    /*padding-bottom: 0.7em 0;*/
  }
}

.cd-headline.clip .cd-words-wrapper {
  overflow: hidden;
  /*vertical-align: top;*/
}

.cd-headline.clip b {
  opacity: 0;
}

.cd-headline b.is-visible {
  opacity: 1;
  font-weight: 700;
}

.card {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 300px;
}

