.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
  font-size: 70px;
  font-family: 'Montserrat';
  font-weight: 100;
}

.cd-words-wrapper h4 {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}

.blc {
  /*font-size: 70px;*/
}

.cd-words-wrapper h4.is-visible {
  position: relative;
}

.cd-headline.clip span {
  /*display: inline-block;*/
  /*padding: .2em 0;*/
}

.cd-headline.clip .cd-words-wrapper {
  overflow: hidden;
  vertical-align: top;
}

.cd-headline.clip h4 {
  opacity: 0;
}

.cd-headline h4.is-visible {
  opacity: 1;
  /*font-weight: 900;*/
}

.caption.v-middle.text-center {
}

h4 {
  font-size: 1em;
}

h1, h2, h3, h4, h5, h6, p {
  line-height: 1.45;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

.place {
  font-size: 0.85em;
  background-color: black;
  display: inline-block;
  color: white;
  padding: 2px 8px;
  font-family: 'Montserrat';
  border-radius: 2em;
}

